

h1{
    text-align: center;
    font-size: 50px;
}
h2{
    font-size: 25px;
}
.indentedList{
    margin-left:20px;
}

.half-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}

.half-circle {
    width: 600px;
    height: 300px;
    background-color: teal;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border: 20px solid black;
    border-bottom: none;
    box-sizing: border-box;
    position: absolute;
    overflow: visible;


}

.clock {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 600px;
    height: 300px;
    pointer-events: none;
    transform: rotate(271deg);
    transform-origin: bottom center;
}

.number {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: rotate(calc(var(--i) * 9deg))
    translateY(-275px);
    rotate(10deg);
    transform-origin: bottom center;
    font-size: 17px;
    font-weight: bold;
    color: pink;
}
.button{
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
}

.hand {
    width: 50%;

    bottom: -15%;
    position: absolute;

    transform-origin: 92%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
    display: flex;
    align-items: center;
    border-radius: 13px;
}

.hour-hand { height: 50px;
    background: red;
    transform: rotate(90deg);
}
.hand3{
    height: 50px;
    background: blue;
    transform: rotate(99deg);
}
.hand32{
    height: 50px;
    background: blue;
    transform: rotate(81deg);
}
.hand2{
    height: 50px;
    background: yellow;
    transform: rotate(72deg);
}
.hand22{
    height: 50px;
    background: yellow;
    transform: rotate(108deg);
}

.fontHand{
    position: absolute;
    top: 40%;
    left: 5%;
    transform: rotate(270deg);

}
.hand-wrapper {
    width: 600px;
    height: 300px;

    position: absolute;
    top: -7%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}


.fan {
    position: relative;
    width: 50%;
    height: 110%;
    transform-origin:  center;

}


.rib {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 550px;
    height: 75px;

    background: lightblue;
    opacity: 100%;

    transition: transform 0.5s ease-in-out;
}



.fan.open .rib:nth-child(1)  {
    transform: rotate(180deg);
}
.fan.open .rib:nth-child(2)  { transform: rotate(168deg); }
.fan.open .rib:nth-child(3)  { transform: rotate(156deg); }
.fan.open .rib:nth-child(4)  { transform: rotate(144deg); }
.fan.open .rib:nth-child(5)  { transform: rotate(132deg); }
.fan.open .rib:nth-child(6)  { transform: rotate(120deg); }
.fan.open .rib:nth-child(7)  { transform: rotate(108deg); }
.fan.open .rib:nth-child(8)  { transform: rotate(96deg); }
.fan.open .rib:nth-child(9)  { transform: rotate(84deg); }
.fan.open .rib:nth-child(10)  { transform: rotate(72deg); }
.fan.open .rib:nth-child(11)  { transform: rotate(60deg); }
.fan.open .rib:nth-child(12)  { transform: rotate(48deg); }
.fan.open .rib:nth-child(13)  { transform: rotate(36deg); }
.fan.open .rib:nth-child(14)  { transform: rotate(24deg); }
.fan.open .rib:nth-child(15)  { transform: rotate(12deg); }
.fan.open .rib:nth-child(16)  { transform: rotate(0deg); }



/*.fan.close .rib:nth-child(1)  {
    transform: rotate(180deg);
}
.fan.close .rib:nth-child(2)  { transform: rotate(168deg); }
.fan.close .rib:nth-child(3)  { transform: rotate(156deg); }
.fan.close .rib:nth-child(4)  { transform: rotate(144deg); }
.fan.close .rib:nth-child(5)  { transform: rotate(132deg); }
.fan.close .rib:nth-child(6)  { transform: rotate(120deg); }
.fan.close .rib:nth-child(7)  { transform: rotate(108deg); }
.fan.close .rib:nth-child(8)  { transform: rotate(96deg); }
.fan.close .rib:nth-child(9)  { transform: rotate(84deg); }
.fan.close .rib:nth-child(10)  { transform: rotate(72deg); }
.fan.close .rib:nth-child(11)  { transform: rotate(60deg); }
.fan.close .rib:nth-child(12)  { transform: rotate(48deg); }
.fan.close .rib:nth-child(13)  { transform: rotate(36deg); }
.fan.close .rib:nth-child(14)  { transform: rotate(24deg); }
.fan.close .rib:nth-child(15)  { transform: rotate(12deg); }
.fan.opeclosen .rib:nth-child(16)  { transform: rotate(0deg); }*/

.rib {
    transform: rotate(0deg);
}


.score{
    position: relative;
    display: flex;
    align-items: flex-start; /* aligns tops of the boxes */
    justify-content: space-between; /* optional: space them out */
}
.pla1, .pla2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: mediumpurple;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 20px;
}
#incrementBtn, #incrementBtn1, #decrementBtn1, #decrementBtn {
    margin: 3px;
    padding: 7px;
    border: none;
    border-radius: 5px;
}
#resetBtn{
    border: none;
    padding: 7px 10px ;
    border-radius: 5px;

}
.reset-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 150px; /* same width as .pla1/.pla2 for symmetry */
    background-color: cornflowerblue;
    padding: 10px 20px;
    border-radius: 10px;
 }
.middlesection{
    position: relative;
    display: flex;
    align-items: flex-start; /* aligns tops of the boxes */
    justify-content: space-between; /* optional: space them out */
}
.guess{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    width: 200px;
    height: 200px;
}
.playBox{
    text-align: center;
    padding: 40px;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    border-radius: 15px;
    margin: 20px;
}

.Statment,.RandBut, .toggle-btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
}

.textBox{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    width: 270px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
